{
  "ConnectionStrings": {
    "DefaultConnection": "Server=sedeek\\SQL2022;Database=TastyTreats;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=true",
    "TastyTreatsContextConnection": "Server=DESKTOP-DK6E87O;Database=TastyTreats2;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "AllowedHosts": "*",
  "Authentication": {
    "Google": {
      "ClientId": "1071099553219-p7vmrff6qoevh2gbc510mn4qdh1m3i01.apps.googleusercontent.com",
      "ClientSecret": "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"
    }
  },

  "EmailSettings": {
    "SmtpServer": "smtp.gmail.com", // Example: Gmail SMTP server
    "SmtpPort": 587,
    "SenderEmail": "leaptech914@gmail.com",
    "SenderName": "Tasty Treats",
    "SenderPassword": "rfyfcwbvfxjeieqo"
  }

  }