


@model TastyTreats.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header class="header">Login</header>
            <form method="post" asp-action="Login">

                <div asp-validation-summary="All" class="text-white"></div>

                <div class="field input-field">
                    <input asp-for="UserName" placeholder="UserName" class="input">
                    <span asp-validation-for="UserName" class="text-white"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Email" placeholder="Email" class="input">
                    <span asp-validation-for="Email" class="text-white"></span>
                </div>

                <div class="field input-field">
                    <input asp-for="Password" placeholder="Password" class="password">
                    <span asp-validation-for="Password" class="text-white"></span>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="form-link">
                    <a asp-action="ForgotPassword" asp-controller="Account" class="forgot-pass">Forgot password?</a>
                </div>
                <div class="field button-field">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a asp-action="Register" class="link signup-link">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <!-- Facebook login -->
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <!-- Google login -->
        <div class="media-options">
            <form asp-action="ExternalLogin" asp-controller="Account" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <input type="hidden" name="provider" value="Google" />
                <button type="submit" class="btn btn-google btn-block">
                    <img src="~/img/google-icon-logo.svg" alt="Google Icon" class="google-icon" />
                    <span>Login with Google</span>
                </button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <style>
        .btn-google {
            background-color: #4285F4; /* Google's blue */
            color: white;
            border: none;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
        }

            .btn-google:hover {
                background-color: #357ae8; /* Darker shade on hover */
            }

            .btn-google .google-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

        .btn-block {
            display: block;
            width: 100%;
        }

        .media-options {
            margin-top: 20px;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
