@model TastyTreats.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<section class="container forms">
    <div class="form signup">
        <div class="form-content bg-dark p-4 rounded">
            <header class="text-light">Sign up</header>
            <form asp-action="Register" asp-controller="Account" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="field input-field mb-3">
                    <input asp-for="UserName" placeholder="UserName" class="form-control bg-dark text-light" />
                    <span asp-validation-for="UserName" class="text-white"></span>
                </div>

                <div class="field input-field mb-3">
                    <input asp-for="Email" placeholder="Email" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="field input-field mb-3">
                    <input asp-for="Address" placeholder="Address" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="field input-field mb-3">
                    <input asp-for="Password" type="password" placeholder="Create password" class="form-control bg-dark text-light" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="field input-field mb-3">
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm password" class="form-control bg-dark text-light" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="field button-field mb-3">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>

            </form>

            <div class="form-link text-light">
                <span>Already have an account? <a asp-controller="Account" asp-action="Login" class="link login-link">Login</a></span>
         
        <div class="line"></div>
        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>

        <div class="media-options">
            <form asp-action="ExternalLogin" asp-controller="Account" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <input type="hidden" name="provider" value="Google" />
                <button type="submit" class="btn btn-google btn-block">
                    <img src="~/img/google-icon-logo.svg"  alt="Google Icon" class="google-icon" />
                    <span>Login with Google</span>
                </button>
            </form>
        </div>


    </div>   
  </div>
  </div>

</section>

@section Scripts {

    <style>
        .btn-google {
            background-color: #4267b2; /* Google blue */
            color: white;
            border: none;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;
        }

            .btn-google:hover {
                background-color: #357ae8; /* Darker shade on hover */
            }

            .btn-google .google-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

        .btn-block {
            display: block;
            width: 100%;
        }
    </style>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
