@model TastyTreats.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}
<section style="
    background-image:url('/img/gallery/gallery-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
">
    <div class="row" style="margin-top:87px; padding:30px;">
        <center>
            <div class="col-md-4" style="text-align:start;
                                        border:solid #cda45e 1px;
                                        padding:10px;
                                        background-color:#212020eb;
                                        max-width: 500px;
                                        width: 100%;
                                        padding: 30px;
                                        border-radius: 20px;">

                <h1 style="color:#cda45e">Edit</h1>
                <h4>User</h4>
                <form method="post" asp-action="Update" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="PasswordHash" />

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <img src="@Model.UserPicture" width="150px" height="150px" class="img-thumbnail" />
                        <input type="file" accept="image/*" name="UserPicture" asp-for="UserPicture" class="form-control" />
                        <span asp-validation-for="UserPicture" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Role</label>
                        <select name="Role" asp-items="@ViewBag.Roles" class="form-control">
                        </select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4">
                        <input type="submit" value="Save" class="btn btn-warning" /> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </center>
    </div>
</section>
